{{! Messages - success }}
{{#condicionalIgualdade message_status "register-status-success"}}
<div class="alert alert-success">Produto Cadastrado com Sucesso!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade message_status "remove-status-success"}}
<div class="alert alert-success">Produto Removido com Sucesso!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade message_status "edit-status-success"}}
<div class="alert alert-success">Produto Editado com Sucesso!</div>
{{/condicionalIgualdade}}


{{! Messages - faill }}


{{#condicionalIgualdade message_status "register-status-fail"}}
<div class="alert alert-danger">Falha ao Cadastrar o Produto!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade message_status "remove-status-fail"}}
<div class="alert alert-danger">Falha ao Remover o Produto!</div>
{{/condicionalIgualdade}}

{{#condicionalIgualdade message_status "edit-status-fail"}}
<div class="alert alert-danger">Falha ao Editar o Produto!</div>
{{/condicionalIgualdade}}